*{
    margin: 0;
}
body{
    background-color: darkgray;
}
h4{
    letter-spacing: 7px;
    font-size: 20px;
    color: blue;
    margin: 5px auto;
    padding: 1rem;
    text-align: center;
}
form{
    background-color: rgb(30, 202, 39);
    height: 55Vh;
    width: 50%;
    position: absolute;
    top: 20%;
    left: 25%;
}
.error{
    color: darkred;
}
.legend{
    font-size: 40px;
}
.lable{
    display: block;
    float: left;
    font-size: 20px;
    width: 8rem;
    padding-left: 22%;
}
.block{
    margin: 30px auto;
}
.submit{
    position: absolute;
    color: darkred;
    background-color: darkslategrey;
    width: 31%;
    height: 2.5rem;
    left: 35%;
}
.inputnew{
    float: left;
    width: 40%;
    position: absolute;
    border: none;
    margin-left: 5%;
    width: 30%;
    height: 1.7rem;
    background-color: rgb(206, 236, 226);
}

h2{
    text-align: center;
}

.input{
    width: 30%;
    height: 1.7rem;
    background-color: rgb(224, 222, 223);
    margin-left: 35%;
}
.button{
    position: absolute;
    margin-top: 20px;
    width: 31%;
    height: 2.5rem;
    box-shadow: 1px 1px 7px rgb(61, 60, 60);
    background-color: crimson;
    cursor: pointer;
    border-color: black;
    top: 75%;
    left: 35%;
}
fieldset{
    margin-left: 3%;
    padding-top: 4px;
    width: 90%;
    height: 45vh;
}
.fieldset{
    height: 50vh;
}

header{
    background-color: rgb(82, 80, 80);
    overflow: auto;
    padding-top: 1rem ;
    
}
.company{
    float: left;
    padding-left: 5%;
    font-size: larger;
}
.leftTin{
    float: right;
    font-size: larger;
    padding-right: 10%;
    padding-left: 50px;
}
.heduser{
    padding-left: 10%;
    padding-top: 2%;
}
table{
    margin-top: 1rem;
    position: absolute;
    width: 80%;
    top: 10%;
    left: 10%;
    border-collapse: collapse;
    
    
}
th{
    background-color: rgb(95, 93, 93);
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgb(201, 197, 197);
}
td{
    padding: 10px;
    border-bottom: 1px solid rgb(71, 70, 70);
    
}

